<!DOCTYPE html>
<xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Bootstrap</title>
<link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" rel="stylesheet" >
</head>
<body>
    <!-- header呼び出し -->
    <div th:replace="parts/header::header"></div>
  
    <div class="container-fluid">
      <div class="row">
        <nav class="bd-sidebar col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" style="height:100vh;">
          <div class="position-sticky pt-3 sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/member/index">
                  <span data-feather="home" class="align-text-bottom"></span>
                  Member一覧
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/division/index">
                  <span data-feather="file" class="align-text-bottom"></span>
                  Division管理
                </a>
              </li>
            </ul>
          </div>
        </nav>
  
        <main class="col-md-9 ms-sm-auto col-lg-10 py-3 px-md-4">
            <h2 class="display-6 mb-4">Division編集</h2>
    
            <form th:action="@{/division/update/{id}(id=${division.id})}" th:object="${divisionRequest}" method="post">
                <div class="mb-3">
                    <label class="form-label">ディビジョン名</label>
                    <input type="text" class="form-control" name="name" th:field="${division.name}">
                </div>
            
                <div class="text-center">
                    <button type="submit" class="btn btn-primary text-center">更新する</button>
                </div>
            </form>

            <a href="/division/index" class="btn btn-secondary mb-3" data-bs-toggle="modal">戻る</a>
        </main>
    </div>
</body>
</html>
